/* Top Right Bottom Left */
/* Themes to add 
https://www.youtube.com/watch?v=3owx2vJHkv4
https://www.youtube.com/watch?v=xEmDHNHivyw
palenight dracula gruvbox edge tender github atom one dark?
*/
@import "../Packages/node_modules/nord/src/nord.css";


:root {
    --container-bg: var(--nord0);

    --nav-bg: var(--nord0);
    --nav-color: #abe4e3;
    --nav-a-hover: var(--nord6);

    --button-bg: var(--nord2);
    --button-hover: var(--nord1);

    --dropdown-content-bg: var(--nord6);
    --dropdown-content-form: var(--nord0);

    --h1-color: #8fbcbb;
    --h1-hover: #B8D8D9;

    --main-color: var(--nord6);

    --about-p-bg: var(--nord1);
    --about-first-div-bg: var(--nord0-2);
    --about-second-div-bg: var(--nord0);
    --about-third-div-bg: var(--nord0-2);


    --footer-bg: var(--nord0-2);
    --footer-categories: var(--nord6);
    --footer-color: var(--nord4);
    --footer-a-color-hover: var(--nord7);
}

[data-scroll] {
    transition: transform 1s;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    -o-transition: transform 1s;
}

[data-scroll="in"] {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
}

[data-scroll="out"] {
    transform: translateY(15%);
    -moz-transform: translateY(15%);
    -webkit-transform: translateY(15%);
    -o-transform: translateY(15%);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 0.10rem;
}

a {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    background-color: var(--container-bg);
    margin: auto;
}

nav {
    background-color: var(--nav-bg);
    margin-bottom: 20px;
    padding-left: 5px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto';
    list-style-type: none;
    padding: 20px 20px;
    font-size: 30px;
    border: 15px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav button {
    background-color: var(--button-bg);
    text-align: center;
    border: none;
    border-radius: 7px;
    color: var(--nav-color);
    font-size: 25px;
    padding: 10px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

nav button:hover {
    background-color: var(--button-hover);
    color: var(--nord6);
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

nav button:focus {
    background-color: var(--button-hover);
}

nav a {
    color: var(--nav-color);
    text-decoration: none;
    transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
}

nav a:hover {
    color: var(--nav-a-hover);
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.themes {
    margin-right: auto;
    justify-self: flex-start;
}

.separated {
    margin-right: 12.5px;
    margin-left: 12.5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    border-radius: 5px;
    font-size: 22px;
    background-color: var(--dropdown-content-bg);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    padding-right: 10%;
}

.dropdown-content label:hover {
    background-color: var(--nord4);
}

.dropdown-content form {
    color: var(--dropdown-content-form);
    padding: 16px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content input {
    margin-bottom: 1rem;
}

.show {
    display: block;
}

.content {
    left: 0;
    right: 0;
    font-family: 'Titillium Web';
}

.main {
    padding: 0px 0 50px 0;
    font-size: 30px;
    text-align: center;
    line-height: 1.6em;
}

.about-section {
    padding: 150px 0px 130px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-section h1 {
    align-self: center;
}

.about-section div {
    color: var(--main-color);
    padding-bottom: 2vh;
    overflow: hidden;
}

.wave {
    position: relative;
    left: 0;
    right: 0;
}

.first-div {
    background-color: var(--about-first-div-bg);
    width: 100%;
    height: auto;
}

.second-div {
    background-color: var(--about-second-div-bg);
    width: 100%;
    height: auto;
}

.third-div {
    background-color: var(--about-third-div-bg);
    width: 100%;
    height: auto;
}

.inner-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15vh;
    padding-left: 15vh;
}

.inner-p {
    animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
}

.inner-svg {
    animation: float 6s ease-in-out infinite;
    -moz-animation: float 6s ease-in-out infinite;
    -webkit-animation: float 6s ease-in-out infinite;
    -o-animation: float 6s ease-in-out infinite;
    width: 100%;
    height: auto;
}

@keyframes float {
	0% {
		transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-o-transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);
	}
}


.content-divider {
    transform: rotate(180deg) translateY(19.5vh);
    -moz-transform: rotate(180deg) translateY(19.5vh);
    -webkit-transform: rotate(180deg) translateY(19.5vh);
    -o-transform: rotate(180deg) translateY(19.5vh);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 150px 0px 150px 0px;
    background-color: var(--footer-bg); 
}

footer ul {
    list-style-type: none;
    padding: 5px;
}

footer li {
    font-family: 'Bai Jamjuree';
    font-size: 20px;
    padding-bottom: 15px;
    color: var(--footer-color);
}

footer a {
    text-decoration: none;
    color: var(--footer-color);
    transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

footer a:hover {
    color: var(--footer-a-color-hover);
    transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

footer h1 {
    font-family: 'Source Sans Pro' ,'Roboto', 'Lacquer';
    font-size: 75px;
    color: var(--footer-categories);
}

footer h2 {
    font-size: 30px;
    font-family: 'Source Sans Pro' ,'Roboto', 'Lacquer';
    border-bottom: 2px var(--footer-color) solid;
    color: var(--footer-categories);
}

footer > div {
    margin: 10px 150px 0 0;
}

.title {
    justify-self: flex-start;
}


@media screen and (max-width: 1280px) {
    nav button {
        font-size: 20px;
        border-radius: 5px;
    }

    .separated {
        margin-left: 9.375px;
        margin-right: 9.375px;
    }

    .dropdown-content {
        font-size: 15px;
        min-width: 140px;
    }

    .dropdown-content a {
        padding: 12px 16px;
    }

    .dropdown-content form {
        padding: 12px 16px;
    }

    .content {
        padding: 10px;
    }

    .about-section p {
        font-size: 20px;
    }

    .content-divider {
        transform: rotate(180deg) translateY(5.5vh);
        -moz-transform: rotate(180deg) translateY(5.5vh);
        -webkit-transform: rotate(180deg) translateY(5.5vh);
        -o-transform: rotate(180deg) translateY(5.5vh);
        position: relative;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        padding: 35px 0px 75px 0px;
    }

    footer > div {
        margin: 10px 95px 0px 95px;
    }

    footer h1 {
        font-size: 65px;
    }

    footer h2 {
        font-size: 25px;
    }

    footer li {
        font-size: 15px
    }

    .title {
        flex: 100%;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 812px) {
    .themes {
        margin-right: 0;
    }

    nav {
        flex-direction: column;
    }

    nav button {
        font-size: 15px;
        border-radius: 3px;
    }

    .separated {
        margin-left: 6.25px;
        margin-right: 6.25px;
    }

    .dropdown-content {
        font-size: 12px;
        min-width: 120px;
    }

    .dropdown-content a {
        padding: 10px 14px;
    }

    .dropdown-content form {
        padding: 10px 14px;
    }

    .content {
        padding: 10px;
    }

    .about-section {
        padding: 100px 0 80px 0;
    }

    .about-section p {
        font-size: 20px;
        text-align: center;
    }

    .inner-div {
        flex-direction: column;
    }

    .content-divider {
        transform: rotate(180deg) translateY(10vh);
    }

    footer {
        flex-direction: row;
        justify-content: center;
        padding: 35px 0px 75px 0px;
    }

    footer > div {
        margin: 10px 45px 0px 45px;
    }

    footer h1 {
        font-size: 45px;
    }

    footer h2 {
        font-size: 20px;
    }

    footer li {
        font-size: 15px
    }

    .title {
        flex: 100%;
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 414px) {
    .content-divider {
        transform: rotate(180deg) translateY(5.5vh);
    }

    .hero-text {
        margin-left: 4vh;
    }

    .about-section {
        padding: 40px 0 20px 0;
    }

    .about-section p {
        font-size: 15px;
        line-height: 2rem;
    }
}

@media screen and (max-width: 2000px) {
    main {
        font-size: 55px;
    }
}